/*!
 * radio.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */.olz-field.radio label{display:inline-block;margin-right:20px;white-space:nowrap}.olz-field.radio.image label{margin-bottom:5px;position:relative;vertical-align:bottom;width:200px}.olz-field.radio.image label img{display:block;height:auto;max-width:100%}.olz-field.radio.image label span{background-color:#fff;bottom:0;color:#000;left:0;padding:2px 7px 1px;position:absolute;z-index:2}