/*!
 * radio.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

@black: #000000;
@white: #ffffff;

.olz-field.radio {
    label {
        display: inline-block;
        margin-right: 20px;
        white-space: nowrap;
    }

    &.image,
    &.image-block {
        label {
            margin-bottom: 5px;
            position: relative;
            vertical-align: bottom;
            width: 200px;

            img {
                display: block;
                height: auto;
                max-width: 100%;
            }

            span {
                background-color: @white;
                bottom: 0;
                color: @black;
                left: 0;
                padding: 2px 7px 1px;
                position: absolute;
                z-index: 2;
            }
        }
    }

    &.block,
    &.image-block {
        label {
            display: block;
            margin: 0 0 10px;
        }
    }
}
