/*!
 * radio.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

@black: #000000;
@white: #ffffff;
@blue: #1297e0;

.olz-field.radio {
    label {
        display: inline-block;
        margin-right: 20px;
        white-space: nowrap;
    }

    &.image {
        label {
            margin-bottom: 5px;
            position: relative;
            width: 200px;

            img {
                height: auto;
                max-width: 100%;
            }

            span {
                background-color: @white;
                bottom: 3px;
                color: @black;
                left: 2px;
                padding: 2px 7px 1px;
                position: absolute;
                z-index: 2;
            }
        }
    }
}
